In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("J:/Data science/data/NLP/movie/movie_review.csv")

In [3]:
df.head()

                                                text  tag
0  films adapted from comic books have had plenty...  pos
1  for starters , it was created by alan moore ( ...  pos
2  to say moore and campbell thoroughly researche...  pos
3  the book ( or " graphic novel , " if you will ...  pos
4  in other words , don't dismiss this film becau...  pos

In [4]:
df.shape

(64720, 2)

In [5]:
df['tag'].value_counts()

pos    32937
neg    31783
Name: tag, dtype: int64

In [6]:
df['tag'] = df['tag'].map({'pos' : 1 ,
                           'neg' : -1})

In [7]:
df.head()

                                                text  tag
0  films adapted from comic books have had plenty...    1
1  for starters , it was created by alan moore ( ...    1
2  to say moore and campbell thoroughly researche...    1
3  the book ( or " graphic novel , " if you will ...    1
4  in other words , don't dismiss this film becau...    1

In [8]:
df.head()

                                                text  tag
0  films adapted from comic books have had plenty...    1
1  for starters , it was created by alan moore ( ...    1
2  to say moore and campbell thoroughly researche...    1
3  the book ( or " graphic novel , " if you will ...    1
4  in other words , don't dismiss this film becau...    1

In [9]:
df['tag'].value_counts()

 1    32937
-1    31783
Name: tag, dtype: int64

In [10]:
x = df['text']
y = df['tag']

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
tfidf = TfidfVectorizer(stop_words="english")
x = tfidf.fit_transform(x)

In [13]:
# x = pd.DataFrame.sparse.from_spmatrix(x)
# x.head()

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
model = RandomForestClassifier(n_estimators=30)
model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=30)

In [18]:
y_pred = model.predict(x_test)

In [19]:
from sklearn.metrics import confusion_matrix
conf = confusion_matrix(y_test,y_pred)
conf

array([[7072, 3436],
       [4401, 6449]], dtype=int64)

In [25]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier()

In [27]:
gb = GradientBoostingClassifier(max_depth=4, 
            n_estimators=30,
            random_state=2)

In [28]:
gb.fit(x_train,y_train)

GradientBoostingClassifier(max_depth=4, n_estimators=30, random_state=2)

In [29]:
y_pred = gb.predict(x_test)

In [30]:
confusion_matrix(y_test,y_pred)

array([[1993, 8515],
       [1137, 9713]], dtype=int64)